@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mg-bt-nm {
    margin-bottom: 1em;
}

.mg-bt-sm {
    margin-bottom: 0.5em;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}